.root {
    -fx-font-size: 9pt;
    -fx-font-family: "Impact";
    -fx-base: rgb(64, 64, 64);
    -fx-background: rgb(128,128,128);
}

.button {
    -fx-font-size: 7pt;
    -fx-background-color: rgb(155,155,155);
    -fx-border-color: rgb(64,64,64);
    -fx-text-fill: rgb(64,64,64);
}

.button:hover {
    -fx-background-color: rgb(200,200,200);
}

